body
{
	background-color: #FAFAFA;
}


#monForm
{
	width: 60%;
}


/* fieldset , legend */
#monForm fieldset
{
	margin-bottom: 10px;
	border: #CCC 1px solid;
}

#monForm fieldset:hover
{
	background-color: #FFF;
}

#monForm fieldset legend
{
	padding: 0 10px;
	border-left: #CCC 1px solid;
	border-right: #CCC 1px solid;
	color: #999;
}

/* Label */
#monForm label
{
	background-color: #FFCC66;
	display: block;
	width: 39%;
	float: left;
	padding-right: 1%;
	text-align: right;
	letter-spacing: 1px;
}

#monForm label:hover
{
	font-weight: bold;
}

#monForm .form_label_nostyle
{
	background: none;
}

/* Input */
#monForm input, #monForm select
{
	margin-left: 1%;
	width: 58%;
	border: #CCC 1px solid;
}

#monForm input:hover, #monForm select:hover, #monForm input:focus, #monForm select:focus
{
	border: #999 1px solid;
	background-color: #DDEEFF;
}

#monForm .form_input_day_month
{
	width: 3%;
}

#monForm .form_input_year
{
	width: 6%;
}

/* button submit */
#monForm input[type="submit"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}

#monForm input[type="submit"]:hover
{
	background-color: #66CC33;
	cursor: pointer;
}

#monForm input[type="reset"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}

#monForm input[type="reset"]:hover
{
	background-color: #E6484D;
	cursor: pointer;
}

#monForm input[type="button"]
{
	border: #DDEEFF 1px solid;
	width: 27%;
}

#monForm input[type="button"]:hover
{
	background-color: #66CC33;
	cursor: pointer;
}



